# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdm
*.egg-info/
.venv/

# Environment
.env
.env.*
!.env.example
.python-version

# Docker
docker-data/
*.pid

# OS junk
Thumbs.db
.DS_Store

# Project-specific
flow.html
doc/

# test jupyter
docker-compose.jupyter.yml
ai_service/.ipynb_checkpoints/
ai_service/README_JUPYTER.md
ai_service/0_how_to_create_index_and_ingest_documents_in_knowledge_base.ipynb